<body>
<h1>

  Welcome to <%= @sint.name %>
</h1>

<p>
  <%= image_tag @sint.image_url %>

</p>

<h2>List of Piets</h2>

<div class="piet-container">

<% if @sint.piets.any? %>

    <% @sint.piets.each do |piet| %>
    <div class="piet-individual">
      <p><%= link_to "#{piet.name} - click for details", piet_path(piet.id)  %></p>
      <p><%= image_tag piet.image_url %></p>
    </div>
    <% end %>

<% else %>
  <p>This Sint doesn't have any Piet yet.</p>
<% end %>
/<div>

<button><%= link_to 'Home', sints_path %></button>
</body>
