<h1>New Piet</h1>

<p>Hi!</p>
<p> Want to join our organisation? Just fill in this form and you're on!</p>

<%= form_for @piet do |f| %>
  <ul>
    <% @piet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <div class="form">  <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
<div class="form">
    <%= f.label :age %>
    <%= f.number_field :age %>
</div>
<div class="form">
    <%= f.label :gender %>
    <%= f.label :gender, "Male", :value => "true"  %>
    <%= f.radio_button :gender, true %>
    <%= f.label :gender, "Gender Female", :value => "false" %>
    <%= f.radio_button :gender, false %>
</div>
<div class="form">

<%= f.label :theme %>
    <%= f.text_field :theme %>
</div>
<div class="form">
    <%= f.label :sint %>
    <%= f.collection_select(:sint_id, Sint.all, :id, :name) %>
</div>
<div class="form">
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </div>
  <div class="form">
    <%= f.submit "Create" %>
</div>


<% end %>

<div>
<button> <%= link_to 'Home', sints_path %></button>
</div>
