<h1>New Piet</h1>

<%= form_for @piet do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :age %>
    <%= f.number_field :age %>


    <%= f.label :gender %><br />
    <%= f.label :gender, "Male", :value => "true"  %>
    <%= f.radio_button :gender, true %>
    <%= f.label :gender, "Female", :value => "false" %>
    <%= f.radio_button :gender, false %>


<%= f.label :theme %>
    <%= f.text_field :theme %>

    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
    <%= f.submit "Create" %>

    <%= f.label :sint %>
    <%= f.collection_select(:sint_id, Sint.all, :id, :name) %>

<% end %>
