
<body>
<h1>Piet</h1>


<h2> Hi, this is the Piet you selected</h2>
<div>
  <p><span>Name:</span><%= @piet.name %></p>
  <p><span>Age:</span><%= @piet.age %></p>
  <p><span>Gender:</span><%= @piet.gender_to_s %></p>
  <p><span>Theme:</span><%= @piet.theme %></p>
  <p><span>Team:</span><%= @piet.sint.name %></p>
  <p><%= image_tag @piet.image_url %></p>

</div>
<div>
<button> <%= link_to 'Home', sints_path %></button>
</div>
</body>
